logs/
testing/
.deprecated/
.messages/
.local-tests/
*.bak
*.asv

example__tcp_ip_comms.m

*.mat

*.lnk

*.poly5

figures/

Meta/
*.zip
export/


WinJoystickMex.mexw64
*Synchronized_*.csv
*Synchronized_*.dat

TDK_API/