#CONFIG_VR.YAML  Set the configuration for TMSiSAGA units to be used as "A" and "B" -- FOR "_PLUS" version ONLY
#
# These header notes are split up according to the top-level fields.
#
# -- SAGA --
#  -> Currently, only supports 2 SAGA at a time.
#  -> Valid options for "Unit" property of each are:
#     - "SAGA1"
#     - "SAGA2"
#     - "SAGA3"
#     - "SAGA4"
#     - "SAGA5"
#     - "SAGAA"
#     - "SAGAB"
#
# MAKE SURE TO KEEP TRACK OF WHICH UNIT IS ASSIGNED TAG "A" AND "B"
#   -> THIS IS CRITICAL FOR KEEPING TRACK OF WHICH LEADS WENT WHERE!
#
# TO ONLY USE 1 SAGA, SET `Enable: false` ON THE CORRESPONDING UNIT.

SAGA:
 A: 
   Enable: true
   FileType: ".mat"
   Unit: "SAGAA"
   Array: 
    Type: "Textiles"
    Location: "A_PROX"
   Trigger:
    Channel: 69 # parser subtracts 1 from this value if detected ref mode is 'average'
    Bit: 1
   Channels:
    CREF: 1
    UNI: [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65] # parser subtracts 1 from this value if detected ref mode is 'average'
    BIP: [] # parser subtracts 1 from this value if detected ref mode is 'average'
    AUX: [66,67,68] # parser subtracts 1 from this value if detected ref mode is 'average'
    DIG: [] # parser subtracts 1 from this value if detected ref mode is 'average'
    ACC_EN: 0  # set to 1 to enable internal accelerometer channels
    STAT: 70 # parser subtracts 1 from this value if detected ref mode is 'average'
    COUNT: 71 # parser subtracts 1 from this value if detected ref mode is 'average'
 B: 
   Enable: true
   Unit: "SAGAB"
   FileType: ".mat"
   Array: 
    Type: "Textiles"
    Location: "B_DIST"
   Trigger:
    Channel: 69 # parser subtracts 1 from this value if detected ref mode is 'average'
    Bit: 1
   Channels:
    CREF: 1
    UNI: [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65] # parser subtracts 1 from this value if detected ref mode is 'average'
    BIP: [] # parser subtracts 1 from this value if detected ref mode is 'average'
    AUX: [66,67,68] # parser subtracts 1 from this value if detected ref mode is 'average'
    DIG: [] # parser subtracts 1 from this value if detected ref mode is 'average'
    ACC_EN: 0  # set to 1 to enable internal accelerometer channels
    STAT: 70 # parser subtracts 1 from this value if detected ref mode is 'average'
    COUNT: 71 # parser subtracts 1 from this value if detected ref mode is 'average'
Serial:
 Port: "COM6"
 Baud: 115200
Default:
 # Interface: "optical"
 Interface: "electrical"
 Folder: "C:/Data/TMSi"
 # Folder: "C:/Users/Daily/TempData"
 Enable_Teensy: false
 Teensy_Port: "COM6"
 N_Host_Devices_Per_Controller: 2
 HPF_Cutoff_Frequency: 100 # Hz | For initial filtering to remove DC bias, retain MUAP features.
 LPF_Cutoff_Frequency: 0.5 # Hz | For RMS envelope (applied after HPF then rectification)
 Device_Reference_Mode: 'average' # must be 'average' (uses CAR from SAGA device) or 'common' (with separate CREF)
 Virtual_Reference_Mode: 0        # 0: none; 1: 8x8 grid; 2: 2x textile 4x8 grids; 3: del2 after interp2 (if Interpolate_Grid); 4: del2 for 2textile after interp2 (if Interpolate_Grid)
 Interpolate_Grid: false          # Only applies if CAR_Mode is set to 3 or 4
 Subject: "MCPXX"
 Sample_Rate: 4000 # Must be 4000 (base) or 4096 (base); set lower using dividers below
 Sync_Bit: 1
 File_Type: ".poly5"
 Sample_Rate_Divider: 1 # Can use 0 for 4000 base sample rate, 1 for 2000, 2 for 10000
 Sample_Loop_Pause_Duration: 0.0005
 MVC_Sample_Iterations: 10
 N_Spike_Channels: 64
 Extension_Factor: 30 # For online MUAP detection
 LSL_Force_Channel: 
  SAGA: "A"
  Channel: 1
 Enable_Raw_LSL_Outlet: false
 Enable_Envelope_LSL_Outlet: false
 Enable_Force_LSL_Outlet: true
 Enable_LSL_Gesture_Decode: false
 Enable_Filters: true 
 Enable_Tablet_Figure: false
 Enable_Trigger_Controller: false
 Enable_Joystick: true
Triggers:
 Enable: true
 Emulate_Mouse: false
 Parse_From_Bits: true
 Debounce_Loop_Iterations: 2
 Left:
  Bit: 8
  Enable: true
  Channel: 1 # 1-indexed with UNI then BIP. Parser will not subtract 1 from this value regardless of ref mode.
  RisingThreshold: 0.75 # state (a.u.)
  FallingThreshold: 0.25 # state (a.u.)
  SlidingThreshold: 25 # microvoltes
 Right:
  Bit: 7
  Enable: true
  Channel: 2 # 1-indexed with UNI then BIP. Parser will not subtract 1 from this value regardless of ref mode.
  RisingThreshold: 0.75 # state (a.u.)
  FallingThreshold: 0.25 # state (a.u.)
  SlidingThreshold: 25 # microvolts
GUI:
 Color:
  A: "r"
  B: "b"
 N_Samples: 1000
 Offset: 100 
 Squiggles: 
  Enable: true
  HPF_Mode: true
  A: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68]
  B: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68]
 Calibration:
  Enable: false   
UDP:
 Socket:
  StreamService:
   # Address: "192.168.88.100"
   Address: "127.0.0.1"
   # Address: "10.0.0.102"
   Port: 
    state: 3030
    name: 3031
    params: 3036
  RecordingControllerGUI:
   # Address: "192.168.88.101"
   Address: "127.0.0.1"
   # Address: "10.0.0.101"
   Port: 3050
  GesturesGUI:
   # Address: "10.0.0.101"
   Address: "127.0.0.1"
   Port: 4050
  TimerGUI:
   # Address: "10.0.0.100" # multicast on LAN
   Address: "127.0.0.1"
   Port: 4051
  TracerGUI:
   Address: "127.0.0.1"
   Port: 5050
TCP:
 SpikeServer:
  # Address: "127.168.88.100"
  Address: "127.0.0.1"
  Port: 6050
 ControlServer:
  # Address: "192.168.88.101"
  Address: "127.0.0.1"
  Port: 6051
 RMSServer:
  # Address: "192.168.88.100"
  Address: "127.0.0.1"
  Port: 6052
 XBoxServer:
  # Address: "192.168.88.101"
  Address: "127.0.0.1"
  Port: 6053
 UnityStateServer: 
  # Address: "192.168.88.101"
  Address: "127.0.0.1"
  Port: 6054
 UnityControllerServer: 
  # Address: "192.168.88.101"
  Address: "127.0.0.1"
  Port: 6055 
 MUAPServer: 
  # Address: "192.168.88.100"
  Address: "127.0.0.1"
  Port: 6056
 SquiggleServer: 
  # Address: "192.168.88.100"
  Address: "127.0.0.1"
  Port: 6057
 InputUtilities:
  # Address: "10.0.0.101"
  Address: "127.0.0.1"
  Port:
   Gamepad: 6053
   Mouse: 6054